.imageList {
    margin-top: 50px;
}

.imageListGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.imageListFlex {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.imageListFlex > .image {
    width: 33.33%;
}